body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #252625;
    line-height: 1.5; /* Adjusted line height */
}

header {
    padding: 10px 20px; /* Reduced padding */
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 3px 0 0 0; /* Reduced margin */
}

a {
    color: #252625;
    text-decoration: none;
}

h2, h3 {
    border-bottom: 2px solid #252625;
    padding-bottom: 8px; /* Reduced padding */
    margin-top: 20px;   /* Reduced margin */
}

section {
    padding: 15px 30px; /* Reduced padding */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removed margin */
}

li {
    margin-bottom: 10px; /* Added margin to list items for better spacing */
}

footer {
    text-align: center;
    margin-top: 20px;  /* Reduced margin */
    padding: 10px 0;   /* Reduced padding */
}

@media screen and (max-width: 600px) {
    section {
        padding: 10px 5px; /* Reduced padding for smaller screens */
    }
}
