body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #252625;
    line-height: 1.5; 
}

header {
    background-color: #252625;
    padding: 10px 20px; 
    text-align: center;
}

header h1 {
    margin: 0;
    color: #F2F2F2;
}

header p {
    margin: 3px 0 0 0; 
    color: #F2F2F2;
}

header a {
    color: #F2F2F2; /* Set color to white for links within the header */
    text-decoration: none;
}

a {
    color: #252625;
    text-decoration: none;
}

h2, h3 {
    border-bottom: 2px solid #252625;
    padding-bottom: 8px;
    margin-top: 20px;   
}

section {
    padding: 15px 30px;
}

ul {
    padding-left: 20px;  /* Added left padding to show bullets */
    margin: 0; 
}

li {
    margin-bottom: 10px; 
}

footer {
    text-align: center;
    margin-top: 20px;  
    padding: 10px 0;   
}

.download-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #252625;
    color: #F2F2F2;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #404040;
}

@media screen and (max-width: 600px) {
    section {
        padding: 10px 5px; 
    }
}
