body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    color: #3498db;
    text-decoration: none;
}

h2 {
    color: #2C3E50;
    border-bottom: 2px solid #2C3E50;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.3s;
}

h2:hover {
    color: #3498db;
    border-color: #3498db;
}

section {
    margin: 20px 5%;
}

footer {
    text-align: center;
    margin-top: 50px;
}
